/Core-Amqp/bin
/Core-Amqp/obj
/Core-Database/bin
/Core-Database/obj
/Core-Emailing/bin
/Core-Emailing/obj
/Core-Redis/bin
/Core-Redis/obj
/Core-Rest/bin
/Core-Rest/obj
/Core-Templating/bin
/Core-Templating/obj
/Core-Web/bin
/Core-Web/obj
/Core-Identity/bin
/Core-Identity/obj
/Core-Identity-PagesUI-Classes/bin
/Core-Identity-PagesUI-Classes/obj
/Core-Identity-PagesUI-Views/bin
/Core-Identity-PagesUI-Views/obj
/Core-Identity-AuthAPI/bin
/Core-Identity-AuthAPI/obj
/Core-Translations/bin
/Core-Translations/obj
/.vs
