/HCore-Amqp/bin
/HCore-Amqp/obj
/HCore-Database/bin
/HCore-Database/obj
/HCore-Emailing/bin
/HCore-Emailing/obj
/HCore-Redis/bin
/HCore-Redis/obj
/HCore-Rest/bin
/HCore-Rest/obj
/HCore-Templating/bin
/HCore-Templating/obj
/HCore-Web/bin
/HCore-Web/obj
/HCore-Identity/bin
/HCore-Identity/obj
/HCore-Identity-PagesUI-Classes/bin
/HCore-Identity-PagesUI-Classes/obj
/HCore-Identity-PagesUI-Views/bin
/HCore-Identity-PagesUI-Views/obj
/HCore-Translations/bin
/HCore-Translations/obj
/HCore-Tenants/bin
/HCore-Tenants/obj
/HCore-Scheduling/bin
/HCore-Scheduling/obj
/HCore-Storage/bin
/HCore-Storage/obj
/.vs
