/Core-Amqp/bin
/Core-Amqp/obj
/Core-Database/bin
/Core-Database/obj
/Core-Emailing/bin
/Core-Emailing/obj
/Core-Redis/bin
/Core-Redis/obj
/Core-Rest/bin
/Core-Rest/obj
/Core-Templating/bin
/Core-Templating/obj
/Core-Web/bin
/Core-Web/obj
/.vs
