@page
@model LoginModel

@{
    ViewData["Title"] = "Anmelden";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    @if (Model.EnableLocalLogin)
    {
        <div class="col-md-4 col-md-offset-4">
            <section>
                <form method="post">
                    <h4>Melden Sie sich mit Ihrem Benutzerkonto an.</h4>
                    <hr />
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.Remember">
                                <input asp-for="Input.Remember" />
                                @Html.DisplayNameFor(m => m.Input.Remember)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Anmelden</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./ForgotPassword">Passwort vergessen?</a>
                        </p>
                        <p>
                            <a asp-page="./Register">Als neuer Benutzer registrieren</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    }
    else
    {

        <div class="col-md-4 col-md-offset-4">
            <div class="alert alert-warning">                
                There are no login schemes configured for this client.
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
