@{ 
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h4>@Messages.manage_account_header</h4>

<div>
    <p>@Messages.manage_account_subheader</p>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
