@page
@model ChangePasswordModel
@{
    ViewData["Title"] = Messages.change_password_title;
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input type="password" autocomplete="off" asp-for="Input.OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input type="password" autocomplete="off" asp-for="Input.NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPasswordConfirmation"></label>
                <input type="password" autocomplete="off" asp-for="Input.NewPasswordConfirmation" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">@Messages.change_password_button_text</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
