@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrieren";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            <h4>Registrieren Sie sich als neuer Benutzer.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @if (configuration.RegisterName)
            {
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input type="password" autocomplete="off" asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PasswordConfirmation"></label>
                <input type="password" autocomplete="off" asp-for="Input.PasswordConfirmation" class="form-control" />
                <span asp-validation-for="Input.PasswordConfirmation" class="text-danger"></span>
            </div>
            @if (configuration.RegisterPhoneNumber)
            {
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            }
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
